<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <app-header></app-header>
        <app-footer></app-footer>
    </div>
    <div id="app2">
        <app-header></app-header>
        <app-footer></app-footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // 전역 컴포넌트 구현 방식
        Vue.component('app-header', {
            template: '<h1>Header</h1>'
        });
        // 지역 컴포넌트 구현 방식
        const appFooter = {
            template: '<footer>app footer</footer>'
        }

        new Vue({
            el: '#app',
            components: {
                'app-footer': appFooter
            }
        });

        new Vue({
            el: '#app2',
            components: {
                'app-footer': appFooter
            }
        })
    </script>
</body>
</html>