<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Title</title>
</head>
<body>
    <div id="app">{{ message }}</div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                message: 'hi'
            }
        });

        function Person(name, job) {
            this.name = name;
            this.job = job;
        }

        const josh = new Person('josh', 'developer');
        console.log(josh);
    </script>
</body>
</html>