<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <app-header v-bind:propsdata="message"></app-header>
        <app-content v-bind:propsdata="content"></app-content>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        let appHeader = {
            template: '<h1>{{ propsdata }}</h1>',
            props: ['propsdata']
        }

        let appContent = {
            template: '<div>{{ propsdata }}</div>',
            props: ['propsdata']
        }

        new Vue({
           el: '#app',
            components: {
               'app-header': appHeader,
                'app-content': appContent,
            },
            data: {
                message: '조용조용 조용문!',
                content: '하나 둘 셋! 조용문 화이팅!'
            }
        });
    </script>

</body>
</html>